* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

.logo-bars {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .fa-x {
  display: none;
}
.menu {
  display: none;
}

.nav .show {
  display: block;
  width: 100%;
  position: absolute;
  top: 49px;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  text-align: center;
  text-align: center;
}
.nav .menu li {
  list-style: none;
  padding: 5px;
  font-size: 1.2rem;
}
.nav .menu li a {
  text-decoration: none;
  color: grey;
}
.cta {
  width: 150px;
  padding: 7px;
  font-size: 1.2rem;
  color: #fff;
  background: #15803d;
  border: none;
  border-radius: 20px;
}
.hero {
  text-align: center;
  color: #fff;
}
.hero-image {
  width: 100%;
}
.hero h1 {
  margin-top: -50%;
  font-size: 2rem;
}
.hero p {
  font-size: 1.3rem;
}
.hero .cta {
  margin-top: 10px;
}

@media (min-width: 760px) {
  .logo-bars .fa-bars {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 25px;
  }
  .hero-image {
    height: 100vh;
    object-fit: fill;
  }
  .hero h1 {
    margin-top: -400px;
    font-size: 3rem;
  }
  .hero p {
    font-size: 1.6rem;
  }
  .hero .cta {
    width: 200px;
    font-size: 1.5rem;
  }
}
