* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

.logo-bars {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .fa-x {
  display: none;
}
.menu {
  display: none;
}

.nav .show {
  display: block;
  width: 100%;
  position: absolute;
  top: 49px;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  text-align: center;
  text-align: center;
}
.nav .menu li {
  list-style: none;
  padding: 5px;
  font-size: 1.2rem;
}
.nav .menu li a {
  text-decoration: none;
  color: grey;
}
.cta {
  width: 150px;
  padding: 7px;
  font-size: 1.2rem;
  color: #fff;
  background: #15803d;
  border: none;
  border-radius: 20px;
}
.hero {
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative;
}
.hero-image {
  width: 100%;
}
.hero-text {
  position: absolute;
  top: 30%;
  left: 5%;
}
.hero h1 {
  font-size: 2rem;
}
.hero p {
  font-size: 1.3rem;
}
.hero .cta {
  margin-top: 10px;
}
/* about section */
#about h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 1.8rem;
}
.about-image {
  width: 100%;
  margin-top: 20px;
}
.story p {
  width: 90%;
  text-align: center;
  margin: 10px auto 0 auto;
  font-size: 1.1rem;
}
.mission-vision {
  text-align: center;
  margin-top: 20px;
}
.mission-vision button {
  border: none;
  background: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.mission {
  text-decoration: underline;
}
.vision-text {
  display: none;
}
.values {
  text-align: center;
  margin-top: 20px;
}
.values h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.value-list {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.value-list button {
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: #fff;
}
.value1 {
  background: #16a34a;
}
.value2 {
  background: #ca8a04;
}
.value3 {
  background: #1e293b;
}
@media (min-width: 760px) {
  .logo-bars .fa-bars {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 25px;
  }
  .hero-image {
    height: 100vh;
    object-fit: fill;
  }
  .hero-text {
    top: 40%;
    left: 33%;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero p {
    font-size: 1.6rem;
  }
  .hero .cta {
    width: 200px;
    font-size: 1.5rem;
  }
  /* about */
  .our-story {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .about-image {
    width: 30%;
  }
  .our-story p {
    text-align: left;
  }
  .mission-vision {
    width: 70%;
    margin: auto;
  }
}
